/* .table {
  border-collapse: collapse;
  width: 100%;
} */

th, td, .store {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

img {
  position:relative;
  width: 120px; 
  height: 120px; 
  border-radius: 50%; 
  object-fit: cover;
}

.star {
  text-align: right;
  position: right;
}

/* .first-table {
  border: 2px solid #333;
  padding: 20px; 
  display: flexbox;
} */

.flag {
  text-align: right;
}

.container {
  display: flex;
  border: 2px solid #333; 
  padding: 20px; /* Padding inside the border */
}

.left {
  padding: 30px;
  padding-top: 100px;
  width: 10%
}

.right {
  padding: 20px;
  width: 90%;
}